<div *ngIf="movie; else loading">
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.overview }}</p>
    <p><strong>Fecha de lanzamiento:</strong> {{ movie.release_date }}</p>
    <p><strong>Calificación:</strong> {{ movie.vote_average }}</p>
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" />
  </div>
  
  <ng-template #loading>
    <p *ngIf="!error">Cargando detalles de la película...</p>
    <p *ngIf="error" class="error">{{ error }}</p>
  </ng-template>
  