<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold text-center mb-6 text-white">Buscar Películas</h1>

  <div class="flex justify-center items-center gap-4 mb-6">
    <input
      #searchInput
      type="text"
      [(ngModel)]="searchKeyword"
      (input)="onSearchInputChange()"
      placeholder="Ingresa una palabra clave"
      class="w-1/2 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-black text-white"
    />
  </div>

  <p *ngIf="error" class="text-red-500 text-center font-semibold mb-4">{{ error }}</p>

  <div *ngIf="movies.length; else noMovies" class="flex flex-wrap gap-5 justify-center">
    <app-card-movie
      *ngFor="let movie of movies"
      [movie]="movie"
      (cardClick)="openMovieModal($event)"
      class="flex-grow"
    ></app-card-movie>
  </div>

  <ng-template #noMovies>
    <p class="text-center text-gray-500 mt-6">No se encontraron películas para la búsqueda.</p>
  </ng-template>
</div>
