<div
  class="relative w-52 h-72 bg-cover bg-center text-white flex items-end justify-center text-center rounded-lg cursor-pointer transition-transform duration-300 ease-in-out hover:scale-105"
  [style.backgroundImage]="movie.poster_path 
    ? 'url(http://image.tmdb.org/t/p/w500' + movie.poster_path + ')' 
    : 'url(https://www.shutterstock.com/image-vector/image-not-found-failure-network-260nw-2330163829.jpg)'"
  (click)="onCardClick()"
>
  <!-- Div para el título al hacer hover -->
  <div
    class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300 pointer-events-none"
  >
    <h3 class="text-white text-sm font-bold px-2 text-center pointer-events-auto w-full h-full flex items-center justify-center">
      {{ movie.title }}
    </h3>
  </div>
</div>
