.featured-movie {
  position: relative;
  background-color: black;
  color: white;
  height: 35rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1.5s ease-in-out; 
  background-size: cover;
  background-position: center;
}

.featured-movie::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 1; /* Asegúrate de que esté detrás del contenido */
}

.movie-info {
  padding: 2em;
  width: 50%; 
  position: relative; /* Asegura que se coloque sobre el sombreado */
  z-index: 2;
}

.movie-info h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  align-items: center;
  gap: 1rem; 
  margin-bottom: 5rem;
}

.details .calification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #facc15; /* Text yellow-500 */
  font-weight: 600;
  font-size: 1.125rem; /* Text-lg */
}

.details .popularity {
  color: #ef4444; /* Text red-500 */
  font-weight: 600;
  font-size: 1.125rem; /* Text-lg */
}

.buttons {
  display: flex;
  gap: 1rem; /* Equivalente a space-x-4 */
}

.buttons .play {
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  background-color: #dc2626; /* bg-red-600 */
  color: white;
  font-weight: 600;
  border-radius: 0.5rem; /* Rounded-lg */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons .play:hover {
  background-color: #b91c1c; /* hover:bg-red-700 */
}

.buttons .trailer {
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  background-color: #e5e7eb; /* bg-gray-200 */
  color: black;
  font-weight: 600;
  border-radius: 0.5rem; /* Rounded-lg */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons .trailer:hover {
  background-color: #d1d5db; /* hover:bg-gray-300 */
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px; /* Altura similar a la película destacada */
  background-color: black;
}

.loading-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
