<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-center mb-6">Películas Populares</h1>
  
    <!-- Swiper Container -->
    <swiper-container
      slides-per-view="7"
      space-between="20"
      navigation
      pagination
      class="block w-full"
    >
      <!-- Swiper Slide -->
      <swiper-slide
        *ngFor="let movie of moviesPopular"
        class="flex justify-center"
      >
        <app-card-movie [movie]="movie"></app-card-movie>
      </swiper-slide>
    </swiper-container>
  </div>
  