/* You can add global styles to this file, and also import other style files */
@import "swiper/swiper-bundle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: #000; /* Fondo negro general */
  color: #fff; /* Texto blanco */
  font-family: cursive;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #09090a;
}

::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

